@page "/messaging"
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components
@attribute [Authorize(Roles = "Admin")]
@inject IStringLocalizer<AdminMesseging> Localizer
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>@Localizer["AdminMesseging"]</PageTitle>

<h3>@Localizer["Title"]</h3>

@code{
    private string? userIdAuth0;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
} 